@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<div>
    <h1>TODO</h1>
</div>
<div>
    TODO1<input type="radio" name="todo1">
    TODO2<input type="radio" name="todo2">
    TODO3<input type="radio" name="todo3">
    TODO4<input type="radio" name="todo3">
</div>
</div>
